
.contact_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    align-items: center;
  }
.headingp{
    font-size: 25px;
}
.logo{
    border-radius: 50%;
    margin: 20px 0px;
    width: 170px;
    height: 170px;
}
.logos{
    display: flex
}
.log{
    font-size: 30px;
    margin:0px  5px ;
    color: #2d2e32;
}

@media (max-width: 500px) {
    .headingp{
        font-size: 20px;
    }
    .logo{
        width: 100px;
        height: 100px;
    }
}
  